@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
body
{
    background-color: #7286D3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 90dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}
.title
{
    font-family:'Inter',sans-serif ;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    animation: 3s backgroundchange infinite;
    background: linear-gradient(45deg, rgb(24, 40, 255),rgb(255, 41, 237));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.timer
{
    display: flex;
    flex-direction: row;
}

.timer-number
{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.number
{
    padding: 25px 27px;
    background-color: #8EA7E9;
    margin: 0px 10px;
    font-size: 40px;
    color: #FFF2F2;
    font-weight: 700;
}
.name
{
    background-color: #E5E0FF;
    margin: 0px 10px;
    padding: 5px;
    color: black;
    font-weight: 600;
}

.copyright
{
    direction: ltr;
}
a
{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255);
    border-radius:5px;
    padding: 0px 5px;
    background-color: #8EA7E9;
}

ion-icon
{
    position: relative;
    font-size: 30px;
    bottom: -7px;
}

@keyframes backgroundchange 
{
    0%
    {
        background-size: 0%;
    }
    100%
    {
        background-size: 100%;
    }
}